
body {
    font-family: Arial, sans-serif;
}


.navbar {
    margin-bottom: 20px;
}

.carousel-item img {
    height: 500px;
    object-fit: cover;
}

.card-img-top {
    height: 300px;
    object-fit: cover;
}

.card-title {
    font-size: 1.25rem;
    font-weight: bold;
}

footer {
    margin-top: 20px;
    padding-top: 20px;
    border-top: 1px solid #e9ecef;
}
